**Mount drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

**Install packages using pip**

In [2]:
!pip install satellite_czml
!pip install czml
!pip install flask
!pip install flask-ngrok
!pip install pyngrok
!pip install pandas

Collecting satellite_czml
  Downloading satellite_czml-0.1.2-py3-none-any.whl (20 kB)
Collecting simplejson
  Downloading simplejson-3.17.6-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_12_x86_64.manylinux2010_x86_64.whl (130 kB)
     |████████████████████████████████| 130 kB 18.3 MB/s
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from satellite_czml) (2018.9)
Collecting sgp4>=2.15
  Downloading sgp4-2.21-cp37-cp37m-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (228 kB)
     |████████████████████████████████| 228 kB 47.7 MB/s
Collecting pygeoif
  Downloading pygeoif-0.7.tar.gz (34 kB)
Building wheels for collected packages: pygeoif
  Building wheel for pygeoif (setup.py) ... done
  Created wheel for pygeoif: filename=pygeoif-0.7-py3-none-any.whl size=19248 sha256=8a501c2f0db25cc1762d1d9f2c227f39bb74851cd9b78cfd02d5fa9860e68999
  Stored in directory: /root/.cache/pip/wheels/4a/84/19/a1fcaf92f8f57a424eca18e2d8c03d149436806b91474bcb89
Successfully built pygeoif
Installing collected packages: simplejson, sgp4, pygeoif, satellite-czml
Successfully installed pygeoif-0.7 satellite-czml-0.1.2 sgp4-2.21 simplejson-3.17.6
Collecting czml
  Downloading czml-0.3.3.tar.gz (30 kB)
Requirement already satisfied: pygeoif in /usr/local/lib/python3.7/dist-packages (from czml) (0.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from czml) (2.8.2)
Requirement already satisfied: pytz in /usr/local/lib/python3.7/dist-packages (from czml) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil->czml) (1.15.0)
Building wheels for collected packages: czml
  Building wheel for czml (setup.py) ... done
  Created wheel for czml: filename=czml-0.3.3-py3-none-any.whl size=22425 sha256=894140063367328591b5f90de260af24caf1ee2cb29b5173f5958fbca986aa7a
  Stored in directory: /root/.cache/pip/wheels/54/32/f4/96a7602844d98f489b889bb973f5df3888eb99d5ac05b28101
Successfully built czml
Installing collected packages: czml
Successfully installed czml-0.3.3
Requirement already satisfied: flask in /usr/local/lib/python3.7/dist-packages (1.1.4)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from flask) (2.11.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from flask) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from flask) (1.0.1)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from flask) (7.1.2)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->flask) (2.0.1)
Collecting flask-ngrok
  Downloading flask_ngrok-0.0.25-py3-none-any.whl (3.1 kB)
Requirement already satisfied: Flask>=0.8 in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (1.1.4)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from flask-ngrok) (2.23.0)
Requirement already satisfied: click<8.0,>=5.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (7.1.2)
Requirement already satisfied: Jinja2<3.0,>=2.10.1 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (2.11.3)
Requirement already satisfied: itsdangerous<2.0,>=0.24 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.1.0)
Requirement already satisfied: Werkzeug<2.0,>=0.15 in /usr/local/lib/python3.7/dist-packages (from Flask>=0.8->flask-ngrok) (1.0.1)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.7/dist-packages (from Jinja2<3.0,>=2.10.1->Flask>=0.8->flask-ngrok) (2.0.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->flask-ngrok) (1.24.3)
Installing collected packages: flask-ngrok
Successfully installed flask-ngrok-0.0.25
Collecting pyngrok
  Downloading pyngrok-5.1.0.tar.gz (745 kB)
     |████████████████████████████████| 745 kB 14.7 MB/s
Requirement already satisfied: PyYAML in /usr/local/lib/python3.7/dist-packages (from pyngrok) (3.13)
Building wheels for collected packages: pyngrok
  Building wheel for pyngrok (setup.py) ... done
  Created wheel for pyngrok: filename=pyngrok-5.1.0-py3-none-any.whl size=19007 sha256=ea4bbb189ac14f05ef763ce94c66025550640e7df87fc39e0ef540e4baf65589
  Stored in directory: /root/.cache/pip/wheels/bf/e6/af/ccf6598ecefecd44104069371795cb9b3afbcd16987f6ccfb3
Successfully built pyngrok
Installing collected packages: pyngrok
Successfully installed pyngrok-5.1.0
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

**Import packages and set some useful variables**

In [3]:
from flask import Flask
from flask import request, escape, render_template, redirect, url_for
from flask_ngrok import run_with_ngrok

from google.colab import drive

import urllib.request
import os
import json
from satellite_czml import satellite_czml
from satellite_czml import satellite
import random
from datetime import datetime, timedelta
import json
import czml
import pandas as pd
import numpy as np
import functools

# Get current working directory
path = os.getcwd()

# Set Ngrok Auth Token
!ngrok authtoken 27fCzpu6NSjcaY2wZe1l2PJafn9_2z5cjwKkyNFsFksKPn5NJ

# Set Cesium API Key
cesiumApiKey = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiIwMGZkMzlkYy0xNDdkLTQ5MTEtYjY2OS1jN2JjNzllNmZlMzgiLCJpZCI6ODc1MDMsImlhdCI6MTY0ODU3NjczMX0.1JhoIllSRmkhIjzTipN2UYWWSvTOC6eRx2T0sMzE3b0'

Authtoken saved to configuration file: /root/.ngrok2/ngrok.yml

**Function to retrieve TLE data**

In [4]:
def requestTLEData():
  """Retrieves TLE Data from Celestrak"""
  url = 'https://celestrak.com/NORAD/elements/gp.php?GROUP=active&FORMAT=tle'
  result = urllib.request.urlopen(url)
  with open(path + '/tle data.txt', 'w') as tleDataFile:
    for line in result.readlines():
      tleDataFile.write(f"{str(line.decode('utf-8').strip())}\n")
    tleDataFile.close()

**Function to create list of TLE data**

In [5]:
tleDataList = []

def createTleList():
  requestTLEData()
  # get tle data text file
  with open(path + "/tle data.txt", "r") as tledatafile:
      lineList = tledatafile.readlines()
  tledatafile.close()

  # iterate through list to group each set of tle data
  iter = 0
  storedSet = []

  for line in lineList:
      line = line.encode('utf-8').strip()
      line = line.decode('utf-8')
      storedSet.append(line)
      iter += 1
      if (iter > 2):
          tleDataList.append(storedSet)
          storedSet = []
          iter = 0

  # clean tle data sets
  for set in tleDataList:
      if str(set[0]).lower().strip() == 'lemur-2-dunlop':
          tleDataList.remove(set)

**Functions to fix CZML Format and ISO8601 DateTime**

In [6]:
def fixTime(givenTime):
  """Fixes ISO 8601 DateTime"""
  fixed = str(givenTime).replace('/', '+00:00/')
  fixed = f"{fixed}+00:00"
  fixed = str(fixed).replace('t', 'T')
  return fixed

def fixCapitalization(givenDict):
  """Fixes final output capitalization to what Cesium recognizes"""
  wordReplaceList = ['horizontalOrigin', 'LEFT', 'outlineWidth',
                      'fillColor', 'solidColor', 'pixelSize',
                      'pixelOffset', 'currentTime', 'interpolationAlgorithm',
                      'interpolationDegree', 'referenceFrame', 'LAGRANGE',
                      'INERTIAL', 'Lucida Console', 'true',
                      'trailTime', 'leadTime', 'outlineColor']
  czmlDict = givenDict
  fixedStr = ""
  for word in wordReplaceList:
    fixedStr = str(json.dumps(czmlDict).replace(word.lower(), word))
    czmlDict = json.loads(fixedStr)
  return fixedStr

def fixCzmlFormat(givenCzml):
  """"Main Function for fixing CZML formatting"""
  json_dict = json.loads(givenCzml)
  i = 0
  for item in json_dict:
    for key in json_dict[i]:      
      if (key == "clock"):
        json_dict[i][key]['currenttime'] = fixTime(json_dict[i][key]['currenttime'])
        json_dict[i][key]['interval'] = fixTime(json_dict[i][key]['interval'])
      if (key == 'availability'):
        json_dict[i][key] = fixTime(json_dict[i][key])
      if (key == 'position'):
        json_dict[i][key]['epoch'] = fixTime(json_dict[i][key]['epoch'])
      if (key == 'label'):
        json_dict[i][key]['show'] = True
      if (key == 'point'):
        json_dict[i][key]['show'] = True
      if (key == 'path'):
        json_dict[i][key]['show'][0]['interval'] = fixTime(json_dict[i][key]['show'][0]['interval'])
        json_dict[i][key]['show'][0]['boolean'] = True
        
        k = 0
        for leadtime in json_dict[i][key]['leadtime']:
          json_dict[i][key]['leadtime'][k] = {'interval':f"{fixTime(leadtime['interval'])}", 
                                                      'epoch':f"{fixTime(leadtime['epoch'])}",
                                                      'number':leadtime['number']}
          k += 1
        
        k = 0
        for trailtime in json_dict[i][key]['trailtime']:
          json_dict[i][key]['trailtime'][k] = {'interval':f"{fixTime(trailtime['interval'])}", 
                                                      'epoch':f"{fixTime(trailtime['epoch'])}",
                                                      'number':trailtime['number']}
          k += 1

    i += 1

  fixedTime = fixCapitalization(json_dict)

  return fixedTime

**Function for creating CZML data from a given list of TLE data**

In [7]:
def buildCzml(givenTleList):
  satelliteList = []
  added_sat_ids = []
  remove_these_ids = []
  print(f"GivenTleList: {givenTleList}") 
  for tle in givenTleList:
    if (str(tle[0]).strip() != 'LEMUR-2-DUNLOP'):
      sat = satellite(tle,
                      description = 'Satellite: ' + tle[0],
                      color = [random.randrange(256) for x in range(3)],
                      marker_scale = 12,
                      use_default_image = False,
                      start_time = datetime.strptime('2022-04-04 01:00:00', '%Y-%m-%d %H:%M:%S'),
                      end_time = datetime.strptime('2022-04-04 23:00:00', '%Y-%m-%d %H:%M:%S'),
                      show_label = True,
                      show_path = True)
      satelliteList.append(sat)
      added_sat_ids.append(sat.id)
  czml_obj = satellite_czml(satellite_list = satelliteList,
                            ignore_bad_tles = True,
                            speed_multiplier = 30)
  
  for satkey in czml_obj.satellites:
    if satkey not in added_sat_ids:
      remove_these_ids.append(satkey)
    
  for satkey in remove_these_ids:
    czml_obj.remove_satellite(satkey)

  czmlString = czml_obj.get_czml().lower()
  print(f"CzmlString: {czmlString}")
  czmlString = fixCzmlFormat(czmlString)
  with open(path + "/satellites.czml", "w") as satelliteFile:
    satelliteFile.write(czmlString)
    satelliteFile.close()
  return czmlString

**Load data from GCAT**

In [8]:
fileNameList = ['currentcat', 'satcat', 'deepcat', 'deepindex', 'auxcat']

global currentFrame
global satcatFrame
global deepcatFrame
global deepIndexFrame
global auxcatFrame

fileIndex = 0
for fileName in fileNameList:
  with open(path + "/drive/MyDrive/Final Project/CSVs/" + fileName + '.csv', 'r') as csvFile:
    if (fileName == 'currentcat'):
      currentFrame = pd.read_csv(csvFile, dtype=str)
    if (fileName == 'satcat'):
      satcatFrame = pd.read_csv(csvFile, dtype=str)
    if (fileName == 'deepcat'):
      deepcatFrame = pd.read_csv(csvFile, dtype=str)
    if (fileName == 'deepindex'):
      deepIndexFrame = pd.read_csv(csvFile, dtype=str)
    if (fileName == 'auxcat'):
      auxcatFrame = pd.read_csv(csvFile, dtype=str)
    csvFile.close()
  
del currentFrame['Unnamed: 0']
del satcatFrame['Unnamed: 0']
del deepcatFrame['Unnamed: 0']
del deepIndexFrame['Unnamed: 0']
del auxcatFrame['Unnamed: 0']

display(satcatFrame)
display(auxcatFrame)

,JCAT,Satcat,Piece,Type,Name,PLName,LDate,Parent,SDate,Primary,...,ODate,Perigee,PF,Apogee,AF,Inc,IF,OpOrbit,OQUAL,AltNames
0,S00001,00001,1957 ALP 1,R2,8K71A M1-10,8K71A M1-10 (M1-1PS),1957 Oct 4,NaN,1957 Oct 4 1933,Earth,...,1957 Oct 4,214,NaN,938,NaN,65.10,NaN,LLEO/I,NaN,NaN
1,S00002,00002,1957 ALP 2,P,1-y ISZ,PS-1,1957 Oct 4,S00001,1957 Oct 4 1933,Earth,...,1957 Oct 4,214,NaN,938,NaN,65.10,NaN,LLEO/I,NaN,":RE,:RC"
2,S00003,00003,1957 BET 1,P A,2-y ISZ,PS-2,1957 Nov 3,A00002,1957 Nov 3 0235,Earth,...,1957 Nov 3,211,NaN,1659,NaN,65.33,NaN,LEO/I,NaN,":RE,:RC"
3,S00004,00004,1958 ALP,P A,Explorer I,Explorer 1,1958 Feb 1,A00004,1958 Feb 1 0355,Earth,...,1958 Feb 1,359,NaN,2542,NaN,33.18,NaN,LEO/I,NaN,":UA,:UB,DEAL I:IA"
4,S00005,00005,1958 BET 2,P,Vanguard I,Vanguard Test Satellite H,1958 Mar 17,S00016,1958 Mar 17 1224,Earth,...,1959 May 23,657,NaN,3935,NaN,34.25,NaN,MEO,NaN,":UA,:VA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51550,S51551,51551,1982-092BMC,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,361,NaN,442,NaN,82.84,NaN,LLEO/I,NaN,NaN
51551,S51552,51552,1982-092BMD,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,442,NaN,469,NaN,82.51,NaN,LLEO/I,NaN,NaN
51552,S51553,51553,1982-092BME,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,396,NaN,425,NaN,82.85,NaN,LLEO/I,NaN,NaN
51553,S51554,51554,1982-092BMF,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,346,NaN,382,NaN,82.42,NaN,LLEO/I,NaN,NaN
51554,S51555,51555,1982-092BMG,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,450,NaN,476,NaN,82.77,NaN,LLEO/I,NaN,NaN

,JCAT,Satcat,Piece,Type,Name,PLName,LDate,Parent,SDate,Primary,...,ODate,Perigee,PF,Apogee,AF,Inc,IF,OpOrbit,OQUAL,AltNames
0,A00001,NNA,1957 ALP 3,C F,GO,Golovniy Obtekatel',1957 Oct 4,S00001,1957 Oct 4 1933,Earth,...,1957 Oct 4,214,NaN,938,NaN,65.10,NaN,LLEO/I,NaN,NaN
1,A00002,00003,1957 BET 1,R2,8K71A M1-11,8K71A M1-11 (M1-2PS),1957 Nov 3,NaN,1957 Nov 3 0235,Earth,...,1957 Nov 3,211,NaN,1659,NaN,65.33,NaN,LEO/I,NaN,NaN
2,A00003,NNA,1957 BET 2,C F,GO,Golovniy Obtekatel',1957 Nov 3,A00002,1957 Nov 3 0236,Earth,...,1957 Nov 3,211,NaN,1659,NaN,65.33,NaN,LEO/I,NaN,NaN
3,A00004,00004,1958 ALP,R4,Cluster 4 Assembly 4,RTV Motor,1958 Feb 1,R02006,1958 Feb 1 0355,Earth,...,1958 Feb 1,359,NaN,2542,NaN,33.18,NaN,LEO/I,NaN,NaN
4,A00005,00006,1958 GAM,R4,Cluster 7 Assembly 4,RTV Motor,1958 Mar 26,R02082,1958 Mar 26 1745,Earth,...,1958 Mar 26,188,NaN,2800,NaN,33.38,NaN,LEO/I,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9978,A09979,NNA P,2022-011,R4,Fregat No. 111-401,Fregat 14S44 No. 111-401,2022 Feb 5,A09978,2022 Feb 5 0709,Earth,...,NaN,0,NaN,0,NaN,0.00,NaN,NaN,NaN,NaN
9979,A09980,37862,2011-065,C X,deleted Fobos-Grunt debris,NaN,2011 Nov 8,A07894,2011 Nov 8 2027,Earth,...,2011 Nov 16,215,NaN,505,NaN,51.45,NaN,LLEO/I,NaN,NaN
9980,A09981,37863,2011-065,C X,deleted Fobos-Grunt debris,NaN,2011 Nov 8,A07894,2011 Nov 8 2027,Earth,...,2011 Nov 16,242,NaN,512,NaN,51.40,NaN,LLEO/I,NaN,NaN
9981,A09982,37864,2011-065,C X,deleted Fobos-Grunt debris,NaN,2011 Nov 8,A07894,2011 Nov 8 2027,Earth,...,2011 Nov 16,241,NaN,523,NaN,51.45,NaN,LLEO/I,NaN,NaN
9982,A09983,37865,2011-065,C X,deleted Fobos-Grunt debris,NaN,2011 Nov 8,A07894,2011 Nov 8 2027,Earth,...,2011 Nov 16,221,NaN,521,NaN,51.41,NaN,LLEO/I,NaN,NaN

**Check active flag to get only active payloads**

In [9]:
# find active objects
activeMask = currentFrame['Active'].str.find('A') != -1
activeFrame = currentFrame.loc[activeMask, :]
display(activeFrame)

# create list of columns in active frame
activeFrameColumns = list(activeFrame.columns)
print(activeFrameColumns)

# Fix NaN values from NNA/NNA A/NNA C to pd.nan (AKA Pandas null value)
fixMask = activeFrame['Satcat'].str.find('NNA') != -1
for satIndex in activeFrame.loc[fixMask, ['Satcat']].index:
  activeFrame.loc[satIndex, 'Satcat'] = np.nan

# show fixed dataframe
display(activeFrame)

,JCAT,DeepCat,Satcat,Piece,Active,Type,Name,LDate,ExpandedStatus,DDate,ODate,Perigee,PF,Apogee,AF,Inc,IF
3668,S03669,NaN,03669,1969-009A,A,P,Isis 1,1969 Jan 30,In Earth orbit,NaN,2022 Feb 8,577,NaN,3447,NaN,88.43,NaN
7525,S07530,NaN,07530,1974-089B,A,P,AMSAT-OSCAR-7,1974 Nov 15,In Earth orbit,NaN,2022 Feb 8,1439,NaN,1458,NaN,101.89,NaN
8741,S08747,NaN,08747,1976-023B,A,P,LES 9,1976 Mar 15,In Earth orbit,NaN,2022 Feb 8,35701,NaN,35874,NaN,19.26,NaN
10662,S10669,NaN,10669,1978-016A,A,P,FLTSATCOM F1,1978 Feb 9,In Earth orbit,NaN,2022 Feb 8,36121,NaN,36168,NaN,10.88,NaN
14764,S14781,NaN,14781,1984-021B,A,P,UoSAT-OSCAR-11,1984 Mar 1,In Earth orbit,NaN,2022 Feb 8,612,NaN,624,NaN,97.61,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61114,A09647,NaN,NNA,1998-067RX,A,P D,DESCENT Daughter,2020 Oct 3,Attached to S46927 DESCENT Mother,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61178,A09713,NaN,NNA,1998-067SE,A,P,STARS-EC Climber,2021 Feb 20,Attached to S47928 Sanko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61179,A09714,NaN,NNA,1998-067SE,A,P,STARS-EC HT,2021 Feb 20,Attached to S47928 Sanko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61432,A09970,NaN,NNA C,2021-035A,A,PXTH-CU,Tianhe robotic arm,2021 Apr 29,Attached to S48274 Tianhe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61436,A09974,NaN,NNA,2021-127,A,PXA,TARGIT target,2021 Dec 21,Attached to S51443 TARGIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

['JCAT', 'DeepCat', 'Satcat', 'Piece', 'Active', 'Type', 'Name', 'LDate', 'ExpandedStatus', 'DDate', 'ODate', 'Perigee', 'PF', 'Apogee', 'AF', 'Inc', 'IF']

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)
/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:723: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value, self.name)

,JCAT,DeepCat,Satcat,Piece,Active,Type,Name,LDate,ExpandedStatus,DDate,ODate,Perigee,PF,Apogee,AF,Inc,IF
3668,S03669,NaN,03669,1969-009A,A,P,Isis 1,1969 Jan 30,In Earth orbit,NaN,2022 Feb 8,577,NaN,3447,NaN,88.43,NaN
7525,S07530,NaN,07530,1974-089B,A,P,AMSAT-OSCAR-7,1974 Nov 15,In Earth orbit,NaN,2022 Feb 8,1439,NaN,1458,NaN,101.89,NaN
8741,S08747,NaN,08747,1976-023B,A,P,LES 9,1976 Mar 15,In Earth orbit,NaN,2022 Feb 8,35701,NaN,35874,NaN,19.26,NaN
10662,S10669,NaN,10669,1978-016A,A,P,FLTSATCOM F1,1978 Feb 9,In Earth orbit,NaN,2022 Feb 8,36121,NaN,36168,NaN,10.88,NaN
14764,S14781,NaN,14781,1984-021B,A,P,UoSAT-OSCAR-11,1984 Mar 1,In Earth orbit,NaN,2022 Feb 8,612,NaN,624,NaN,97.61,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61114,A09647,NaN,NaN,1998-067RX,A,P D,DESCENT Daughter,2020 Oct 3,Attached to S46927 DESCENT Mother,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61178,A09713,NaN,NaN,1998-067SE,A,P,STARS-EC Climber,2021 Feb 20,Attached to S47928 Sanko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61179,A09714,NaN,NaN,1998-067SE,A,P,STARS-EC HT,2021 Feb 20,Attached to S47928 Sanko,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61432,A09970,NaN,NaN,2021-035A,A,PXTH-CU,Tianhe robotic arm,2021 Apr 29,Attached to S48274 Tianhe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
61436,A09974,NaN,NaN,2021-127,A,PXA,TARGIT target,2021 Dec 21,Attached to S51443 TARGIT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Get Deepcat Objects** (no active deepcat objects exist)

In [10]:
deepMask = activeFrame['DeepCat'].notna()
currentDeepDf = activeFrame.loc[deepMask, :]

# Show df
display(currentDeepDf)

Empty DataFrame
Columns: [JCAT, DeepCat, Satcat, Piece, Active, Type, Name, LDate, ExpandedStatus, DDate, ODate, Perigee, PF, Apogee, AF, Inc, IF]
Index: []

**Merge Satcat and Auxcat for Active Objects**

In [11]:
# create list of columns for satcat and auxcat
satcatColumns = list(satcatFrame.columns)
auxcatColumns = list(auxcatFrame.columns)

# create merged list of columns
fullFrameColumns = []
fullFrameColumns.extend(activeFrameColumns)
fullFrameColumns.extend(satcatColumns)
fullFrameColumns.extend(auxcatColumns)

# remove duplicates from list and create
# list of columns added to activeFrame
# from satcat/auxcat dataframes
col_list = []
dif_col_list = []
for col in fullFrameColumns:
  if col not in col_list:
    col_list.append(col)
    if col not in activeFrameColumns:
      dif_col_list.append(col)
fullFrameColumns = col_list

# print column lists
print(fullFrameColumns)
print(dif_col_list)

# add JCAT to dif_col_list
dif_col_list.append('JCAT')

satAuxFrame = pd.concat([auxcatFrame, satcatFrame], axis=0)
display(satAuxFrame)

# merge activeFrame with satcatFrame
global df_final
df_final = pd.merge(activeFrame, satAuxFrame[dif_col_list], how='left', on='JCAT', suffixes=["", "_duplicate"])
display(df_final)

['JCAT', 'DeepCat', 'Satcat', 'Piece', 'Active', 'Type', 'Name', 'LDate', 'ExpandedStatus', 'DDate', 'ODate', 'Perigee', 'PF', 'Apogee', 'AF', 'Inc', 'IF', 'PLName', 'Parent', 'SDate', 'Primary', 'Status', 'Dest', 'Owner', 'State', 'Manufacturer', 'Bus', 'Motor', 'Mass', 'MassFlag', 'DryMass', 'DryFlag', 'TotMass', 'TotFlag', 'Length', 'LFlag', 'Diameter', 'DFlag', 'Span', 'SpanFlag', 'Shape', 'OpOrbit', 'OQUAL', 'AltNames']
['PLName', 'Parent', 'SDate', 'Primary', 'Status', 'Dest', 'Owner', 'State', 'Manufacturer', 'Bus', 'Motor', 'Mass', 'MassFlag', 'DryMass', 'DryFlag', 'TotMass', 'TotFlag', 'Length', 'LFlag', 'Diameter', 'DFlag', 'Span', 'SpanFlag', 'Shape', 'OpOrbit', 'OQUAL', 'AltNames']

,JCAT,Satcat,Piece,Type,Name,PLName,LDate,Parent,SDate,Primary,...,ODate,Perigee,PF,Apogee,AF,Inc,IF,OpOrbit,OQUAL,AltNames
0,A00001,NNA,1957 ALP 3,C F,GO,Golovniy Obtekatel',1957 Oct 4,S00001,1957 Oct 4 1933,Earth,...,1957 Oct 4,214,NaN,938,NaN,65.10,NaN,LLEO/I,NaN,NaN
1,A00002,00003,1957 BET 1,R2,8K71A M1-11,8K71A M1-11 (M1-2PS),1957 Nov 3,NaN,1957 Nov 3 0235,Earth,...,1957 Nov 3,211,NaN,1659,NaN,65.33,NaN,LEO/I,NaN,NaN
2,A00003,NNA,1957 BET 2,C F,GO,Golovniy Obtekatel',1957 Nov 3,A00002,1957 Nov 3 0236,Earth,...,1957 Nov 3,211,NaN,1659,NaN,65.33,NaN,LEO/I,NaN,NaN
3,A00004,00004,1958 ALP,R4,Cluster 4 Assembly 4,RTV Motor,1958 Feb 1,R02006,1958 Feb 1 0355,Earth,...,1958 Feb 1,359,NaN,2542,NaN,33.18,NaN,LEO/I,NaN,NaN
4,A00005,00006,1958 GAM,R4,Cluster 7 Assembly 4,RTV Motor,1958 Mar 26,R02082,1958 Mar 26 1745,Earth,...,1958 Mar 26,188,NaN,2800,NaN,33.38,NaN,LEO/I,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51550,S51551,51551,1982-092BMC,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,361,NaN,442,NaN,82.84,NaN,LLEO/I,NaN,NaN
51551,S51552,51552,1982-092BMD,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,442,NaN,469,NaN,82.51,NaN,LLEO/I,NaN,NaN
51552,S51553,51553,1982-092BME,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,396,NaN,425,NaN,82.85,NaN,LLEO/I,NaN,NaN
51553,S51554,51554,1982-092BMF,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,346,NaN,382,NaN,82.42,NaN,LLEO/I,NaN,NaN
51554,S51555,51555,1982-092BMG,D W,deb Kosmos-1408,NaN,1982 Sep 16,S13552,2021 Nov 15 0250?,Earth,...,2022 Feb 8,450,NaN,476,NaN,82.77,NaN,LLEO/I,NaN,NaN

,JCAT,DeepCat,Satcat,Piece,Active,Type,Name,LDate,ExpandedStatus,DDate,...,Length,LFlag,Diameter,DFlag,Span,SpanFlag,Shape,OpOrbit,OQUAL,AltNames
0,S03669,NaN,03669,1969-009A,A,P,Isis 1,1969 Jan 30,In Earth orbit,NaN,...,1.0,NaN,1.3,NaN,73.0,NaN,Oct DCone + 2 Ant,MEO,NaN,NaN
1,S07530,NaN,07530,1974-089B,A,P,AMSAT-OSCAR-7,1974 Nov 15,In Earth orbit,NaN,...,0.4,NaN,0.4,NaN,0.4,NaN,Oct Cyl,LEO/S,NaN,AO-7
2,S08747,NaN,08747,1976-023B,A,P,LES 9,1976 Mar 15,In Earth orbit,NaN,...,2.9,NaN,1.2,NaN,4.0,NaN,Box + Ant,GEO/T,NaN,STP P74-1:PN
3,S10669,NaN,10669,1978-016A,A,P,FLTSATCOM F1,1978 Feb 9,In Earth orbit,NaN,...,1.3,NaN,2.4,NaN,13.2,NaN,Hex Cyl + Dish + 2 Pan,GEO/D,NaN,NaN
4,S14781,NaN,14781,1984-021B,A,P,UoSAT-OSCAR-11,1984 Mar 1,In Earth orbit,NaN,...,0.6,NaN,0.4,NaN,6.5,NaN,Box + Ant,LEO/S,NaN,UO-11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4948,A09647,NaN,NaN,1998-067RX,A,P D,DESCENT Daughter,2020 Oct 3,Attached to S46927 DESCENT Mother,NaN,...,0.1,NaN,0.1,NaN,100.0,NaN,Box+Tether,LLEO/I,NaN,NaN
4949,A09713,NaN,NaN,1998-067SE,A,P,STARS-EC Climber,2021 Feb 20,Attached to S47928 Sanko,NaN,...,0.1,NaN,0.1,NaN,22.0,NaN,Box+Tether,LLEO/I,NaN,NaN
4950,A09714,NaN,NaN,1998-067SE,A,P,STARS-EC HT,2021 Feb 20,Attached to S47928 Sanko,NaN,...,0.1,NaN,0.1,NaN,0.1,NaN,Box,LLEO/I,NaN,NaN
4951,A09970,NaN,NaN,2021-035A,A,PXTH-CU,Tianhe robotic arm,2021 Apr 29,Attached to S48274 Tianhe,NaN,...,10.0,NaN,0.5,NaN,10.0,NaN,Cyl+cyl,LLEO/I,NaN,NaN
4952,A09974,NaN,NaN,2021-127,A,PXA,TARGIT target,2021 Dec 21,Attached to S51443 TARGIT,NaN,...,0.1,NaN,0.1,NaN,6.0,NaN,Tetrahedron+box+tether,LLEO/I,NaN,NaN

**Create Function to Cross-reference Dataframe from Given TLE**

In [25]:
def combineWithTLEs(tleList):
  tleList = list(tleList)
  satcatIds = []
  global tle_id_dict
  tle_id_dict = {}

  for tleItem in tleList:
    thisId = tleItem[2].split(' ')[1]
    satcatIds.append(thisId)
    tle_id_dict[thisId] = tleItem
    
  indexMask = df_final['Satcat'].isin(satcatIds)
  indexes = df_final.loc[indexMask, :].index
  df_final.insert(len(df_final.columns), 'TLE_0', np.nan, True)
  df_final.insert(len(df_final.columns), 'TLE_1', np.nan, True)
  df_final.insert(len(df_final.columns), 'TLE_2', np.nan, True)

  for indexVal in indexes:
    df_final.loc[indexVal, 'TLE_0'] = tle_id_dict[df_final.loc[indexVal, 'Satcat']][0]
    df_final.loc[indexVal, 'TLE_1'] = tle_id_dict[df_final.loc[indexVal, 'Satcat']][1]
    df_final.loc[indexVal, 'TLE_2'] = tle_id_dict[df_final.loc[indexVal, 'Satcat']][2]
  
  df_final.dropna(axis=0, how='any', subset=['TLE_0', 'TLE_1', 'TLE_2'], inplace=True)
  

# Create TLE Data List
createTleList()

# Combine this TLE data with
# detailed dataframe
combineWithTLEs(tleDataList)

# show final dataframe
display(df_final)
print(df_final.columns)

,JCAT,DeepCat,Satcat,Piece,Active,Type,Name,LDate,ExpandedStatus,DDate,...,Shape,OpOrbit,OQUAL,AltNames,TLE_0,TLE_1,TLE_2,TLE_0,TLE_1,TLE_2
1,S07530,NaN,07530,1974-089B,A,P,AMSAT-OSCAR-7,1974 Nov 15,In Earth orbit,NaN,...,Oct Cyl,LEO/S,NaN,AO-7,OSCAR 7 (AO-7),1 07530U 74089B 22101.87738816 -.00000027 0...,2 07530 101.8998 81.5503 0012261 167.8522 305...,OSCAR 7 (AO-7),1 07530U 74089B 22101.87738816 -.00000027 0...,2 07530 101.8998 81.5503 0012261 167.8522 305...
4,S14781,NaN,14781,1984-021B,A,P,UoSAT-OSCAR-11,1984 Mar 1,In Earth orbit,NaN,...,Box + Ant,LEO/S,NaN,UO-11,UOSAT 2 (UO-11),1 14781U 84021B 22101.88369197 .00000900 0...,2 14781 97.6148 92.3699 0008559 169.9845 190...,UOSAT 2 (UO-11),1 14781U 84021B 22101.88369197 .00000900 0...,2 14781 97.6148 92.3699 0008559 169.9845 190...
5,S19548,NaN,19548,1988-091B,A,P ---S-,TDRS 3,1988 Sep 29,In Earth orbit,NaN,...,Box + Dish + 2 Pan,GEO/S,NaN,NaN,TDRS 3,1 19548U 88091B 22101.39041861 -.00000295 0...,2 19548 13.7639 351.8452 0038757 335.4501 323...,TDRS 3,1 19548U 88091B 22101.39041861 -.00000295 0...,2 19548 13.7639 351.8452 0038757 335.4501 323...
7,S20253,NaN,20253,1989-077A,A,P,FLTSATCOM F8,1989 Sep 25,In Earth orbit,NaN,...,Hex Cyl + Dish + 2 Pan,GEO/I,NaN,NaN,FLTSATCOM 8 (USA 46),1 20253U 89077A 22101.68471757 -.00000074 0...,2 20253 12.8797 0.6792 0005629 75.9562 81...,FLTSATCOM 8 (USA 46),1 20253U 89077A 22101.68471757 -.00000074 0...,2 20253 12.8797 0.6792 0005629 75.9562 81...
9,S20442,NaN,20442,1990-005G,A,P,LUSAT-OSCAR-19,1990 Jan 22,In Earth orbit,NaN,...,Box,LEO/S,NaN,LO-19,LUSAT (LO-19),1 20442U 90005G 22102.46942365 .00000152 0...,2 20442 98.7872 66.3478 0011902 8.2149 351...,LUSAT (LO-19),1 20442U 90005G 22102.46942365 .00000152 0...,2 20442 98.7872 66.3478 0011902 8.2149 351...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4932,S51509,NaN,51509,1998-067TG,A,P D ?,Light-1,2021 Dec 21,In Earth orbit,NaN,...,Box,LLEO/I,NaN,NaN,LIGHT-1,1 51509U 98067TG 22102.18076810 .00030898 0...,2 51509 51.6409 302.3022 0008096 333.7950 26...,LIGHT-1,1 51509U 98067TG 22102.18076810 .00030898 0...,2 51509 51.6409 302.3022 0008096 333.7950 26...
4933,S51510,NaN,51510,1998-067TH,A,P D ?,GT-1,2021 Dec 21,In Earth orbit,NaN,...,Box+4 pan,LLEO/I,NaN,NaN,GT-1,1 51510U 98067TH 22101.93975549 .00112982 0...,2 51510 51.6375 302.1894 0007257 293.0969 66...,GT-1,1 51510U 98067TH 22101.93975549 .00112982 0...,2 51510 51.6375 302.1894 0007257 293.0969 66...
4934,S51511,NaN,51511,2022-011A,A,P,Kosmos-2553,2022 Feb 5,In Earth orbit,NaN,...,Box + 2 Pan,MEO,NaN,NaN,COSMOS 2553,1 51511U 22011A 22101.85953722 -.00000024 0...,2 51511 67.0888 130.7456 0004411 268.0588 91...,COSMOS 2553,1 51511U 22011A 22101.85953722 -.00000024 0...,2 51511 67.0888 130.7456 0004411 268.0588 91...
4941,A07885,NaN,37855,2011-061F,A,PXF,MCubed,2011 Oct 28,Attached to S37855 Hiscock Rad. Belt Explorer,NaN,...,Box,LEO/S,NaN,Elana-III,M-CUBED & EXP-1 PRIME,1 37855U 11061F 22102.43768414 .00010563 0...,2 37855 101.7043 186.7637 0158674 259.8345 98...,M-CUBED & EXP-1 PRIME,1 37855U 11061F 22102.43768414 .00010563 0...,2 37855 101.7043 186.7637 0158674 259.8345 98...
4942,A08477,NaN,41847,2016-066G,A,P A,Fengtai shaonian yi hao,2016 Nov 9,Attached to A08476 CZ-11-4,NaN,...,Box,LEO/S,NaN,NaN,CAS-2T & KS-1Q,1 41847U 16066G 22101.77946098 .00001055 0...,2 41847 98.5571 166.5024 0365054 49.4169 313...,CAS-2T & KS-1Q,1 41847U 16066G 22101.77946098 .00001055 0...,2 41847 98.5571 166.5024 0365054 49.4169 313...

Index(['JCAT', 'DeepCat', 'Satcat', 'Piece', 'Active', 'Type', 'Name', 'LDate',
       'ExpandedStatus', 'DDate', 'ODate', 'Perigee', 'PF', 'Apogee', 'AF',
       'Inc', 'IF', 'PLName', 'Parent', 'SDate', 'Primary', 'Status', 'Dest',
       'Owner', 'State', 'Manufacturer', 'Bus', 'Motor', 'Mass', 'MassFlag',
       'DryMass', 'DryFlag', 'TotMass', 'TotFlag', 'Length', 'LFlag',
       'Diameter', 'DFlag', 'Span', 'SpanFlag', 'Shape', 'OpOrbit', 'OQUAL',
       'AltNames', 'TLE_0', 'TLE_1', 'TLE_2', 'TLE_0', 'TLE_1', 'TLE_2'],
      dtype='object')

**Flask App**

In [24]:
app = Flask(__name__, 
            template_folder=path + '/drive/MyDrive/FlaskApp/templates',
            static_folder=path + '/drive/MyDrive/FlaskApp/static')

run_with_ngrok(app)

@app.route("/")
def index():
  inputList = []
  tlesToCzml = []
  shownCzml = ''
  for key, value in df_final.iterrows():
    inValue = str(escape(request.args.get(f"sat-{value['Satcat']}", '')))
    if inValue == "on":
      inputList.append(value['Satcat'])
      print(f"Value: {inValue} - Satcat: {value['Satcat']}")
  if len(inputList) > 0:
    updateViewer = True
    tlesToCzml = []
    for selection in inputList:
      tlesToCzml.append(tle_id_dict[selection])
    shownCzml = json.loads(buildCzml(tlesToCzml))
    print(f"tlesToCzml: {tlesToCzml}")
    print(f"shownCzml: {shownCzml}")
  else:
    updateViewer = False
    inputList = []

  return render_template('index.html', df_final=df_final, updateViewer=str(updateViewer), shownCzml=shownCzml)

if __name__ == "__main__":
  app.run()

 * Serving Flask app "__main__" (lazy loading)
 * Environment: production
   WARNING: This is a development server. Do not use it in a production deployment.
   Use a production WSGI server instead.
 * Debug mode: off

 * Running on http://127.0.0.1:5000/ (Press CTRL+C to quit)

 * Running on http://78db-35-204-151-45.ngrok.io
 * Traffic stats available on http://127.0.0.1:4040

127.0.0.1 - - [12/Apr/2022 19:18:43] "GET / HTTP/1.1" 200 -
127.0.0.1 - - [12/Apr/2022 19:18:43] "GET /dashboard.css HTTP/1.1" 404 -
127.0.0.1 - - [12/Apr/2022 19:18:46] "GET /favicon.ico HTTP/1.1" 404 -